{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
  <h1 class="display-4">List Warehouse Satgas</h1>
  <hr class="my-4">
  <div class=col-lg-12>
      <table class="table table-striped table table-hover" style="text-align: center;"> 
          <thead>

              <tr style="text-align: center;">
                <th scope="col">No</th>
                <th scope="col">Provinsi</th>
                <th scope="col">Lokasi</th>
                
                
              </tr>
          </thead>

          <tbody>
            {% for item in form %}
            <tr>
              <td>{{ forloop.counter}}</td>
              <td>{{ item.provinsi}}</td>
              <td>{{ item.jalan_no}} {{ item.kelurahan}} {{ item.kecamatan}} {{ item.kabkot}}</td>
              

               
            </tr>
            {% endfor %}
      
          </tbody>
      </table>
      {% if messages %}
        <div>
            {% for message in messages %}
                <h5 class="{{message.tag}}">{{ message.message }}</h5>
            {% endfor %}
        </div>
      {% endif %}
  </div>
  </div>

</div>
{% endblock content %}