{% extends "base_template.html" %}

{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>
<div class="container">  
    <h1 class="display-4">Form Ubah Warehouse Satgas</h1>
    <small class="text-muted">{{ message }}</small> <br><br> 
<hr class="my-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Simpan</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function () {
        

        $.ajax({
            type: 'GET',
            url: "{% url 'warehouseSatgas_5:ajaxidLokasiWarehouse' %}",
            data: {
                provinsi: $('#provinsi').val()
            },
            async: false,
            success: function (response) {
                response.id.map((e) => {
                    $('#id_lokasi').append(new Option(e, e))
                })
            }
        });
        
        $('#lokasi').val('')
        $.ajax({
            type: 'GET',
            url: "{% url 'warehouseSatgas_5:ajaxLokasiWarehouse' %}",
            data: {
                id_lokasi: $('#id_lokasi').val()
            },
            async: false,
            success: function (response) {
                let res=''
                response.id.map((e) => {
                    res += e + ' , ';
                })
                $('#lokasi').val(res)
                $('#lokasi').prop('readonly',true)

            }
        });

        $('#id_lokasi').on('change', function () {
            $('#lokasi').val('')
            $.ajax({
                type: 'GET',
                url: "{% url 'warehouseSatgas_5:ajaxLokasiWarehouse' %}",
                data: {
                    id_lokasi: $('#id_lokasi').val()
                },
                async: false,
                success: function (response) {
                    let res=''
                    response.id.map((e) => {
                    res += e + ' , ';
                    })
                    $('#lokasi').val(res)
                    $('#lokasi').prop('readonly',true)

                }
            });
        });
    

        $('#provinsi').on('change', function () {
            $('#id_lokasi').find('option').remove()
            $.ajax({
                type: 'GET',
                url: "{% url 'warehouseSatgas_5:ajaxidLokasiWarehouse' %}",
                data: {
                    provinsi: $('#provinsi').val()
                },
                async: false,
                success: function (response) {
                    response.id.map((e) => {
                        $('#id_lokasi').append(new Option(e, e))
                    })
                }
            });

            $('#lokasi').val('')
            $.ajax({
                type: 'GET',
                url: "{% url 'warehouseSatgas_5:ajaxLokasiWarehouse' %}",
                data: {
                    provinsi: $('#provinsi').val(),
                    id_lokasi: $('#id_lokasi').val()
                },
                async: false,
                success: function (response) {
                    let res=''
                    response.id.map((e) => {
                        res += e + ' , ';
                    })
                    $('#lokasi').val(res)
                    $('#lokasi').prop('readonly',true)

                }
            });

            $('#id_lokasi').on('change', function () {
                $('#lokasi').val('')
                $.ajax({
                    type: 'GET',
                    url: "{% url 'warehouseSatgas_5:ajaxLokasiWarehouse' %}",
                    data: {
                        id_lokasi: $('#id_lokasi').val()
                    },
                    async: false,
                    success: function (response) {
                        let res=''
                        response.id.map((e) => {
                        res += e + ' , ';
                        })
                        $('#lokasi').val(res)
                        $('#lokasi').prop('readonly',true)

                    }
                });
            });

            $('#provinsi').prop('readonly',true)

           
        
        });
    });
</script>
{% endblock content %}