{% extends "base_template.html" %}

{% block content %}

<h1 class="display-4">Homepage Petugas Faskes</h1>
<p class="lead font-italic">SIDIA Indonesia</p>
<hr class="my-4">

<p class="h5">Profil:</p>
<a href="{% url 'profile' %}" class="btn btn-outline-primary" role="button">Profil Saya</a>
<a href="{% url 'logout' %}" class="btn btn-outline-primary" role="button">Logout</a>


<br><br><br>

<p class="h5">Permohonan Sumber Daya</p>
<a href="#" class="btn btn-outline-primary" role="button">Buat Permohonan Sumber Daya</a>
<a href="#" class="btn btn-outline-primary" role="button">List Permohonan Sumber Daya</a>
<a href="#" class="btn btn-outline-primary" role="button">List Riwayat Status Permohonan Sumber Daya</a>


<br><br><br>

<p class="h5">Fasilitas Kesehatan</p>
<a href="{% url 'listStokFaskes' %}" class="btn btn-outline-primary" role="button">List Stok Faskes</a>

<br><br><br>

<p class="h5">Warehouse Satgas</p>
<a href="#" class="btn btn-outline-primary" role="button">List Stok Warehouse Satgas</a>


<br><br><br>

<p class="h5">Batch Pengiriman</p>
<a href="#" class="btn btn-outline-primary" role="button">List Batch Pengiriman</a>


{% endblock content %}
