{% extends "base_template.html" %}

{% block content %}

<h1 class="display-4">Homepage Supplier</h1>
<p class="lead font-italic">SIDIA Indonesia</p>
<hr class="my-4">

<p class="h5">Profil:</p>
<a href="{% url 'profile' %}" class="btn btn-outline-primary" role="button">Profil Saya</a>
<a href="{% url 'logout' %}" class="btn btn-outline-primary" role="button">Logout</a>


<br><br><br>

<p class="h5">Item Sumber Daya</p>
<a href="#" class="btn btn-outline-primary" role="button">Buat Item Sumber Daya</a>
<a href="#" class="btn btn-outline-primary" role="button">List Item Sumber Daya</a>

<br><br><br>

<p class="h5">Pesanan Sumber Daya</p>
<a href="{% url 'psd6:listPSD' %}" class="btn btn-outline-primary" role="button">List Pesanan Sumber Daya</a>

<br><br><br>

<p class="h5">Fasilitas Kesehatan</p>
<a href="{% url 'faskes_5:readFaskesS' %}" class="btn btn-outline-primary" role="button">List Faskes</a>

<br><br><br>

<p class="h5">Warehouse</p>
<a href="{% url 'warehouseSatgas_5:readWarehouseSatgasS' %}" class="btn btn-outline-primary" role="button">List Warehouse Satgas</a>
<a href="#" class="btn btn-outline-primary" role="button">List Stok Warehouse Satgas</a>


{% endblock content %}
