{% extends "base_template.html" %}

{% block content %}

<h1 class="display-4">Homepage Petugas Distribusi</h1>
<p class="lead font-italic">SIDIA Indonesia</p>
<hr class="my-4">

<p class="h5">Profil:</p>
<a href="{% url 'profile' %}" class="btn btn-outline-primary" role="button">Profil Saya</a>
<a href="{% url 'logout' %}" class="btn btn-outline-primary" role="button">Logout</a>


<br><br><br>

<p class="h5">Kendaraan</p>
<a href="#" class="btn btn-outline-primary" role="button">List Kendaraan</a>

<br><br><br>

<p class="h5">Batch Pengiriman</p>
<a href="#" class="btn btn-outline-primary" role="button">List Batch Pengiriman</a>
<a href="#" class="btn btn-outline-primary" role="button">List Riwayat Status Batch Pengiriman</a>

{% endblock content %}
