{% extends "base_template.html" %}

{% block content %}

<div class="container col-lg-12">
    <h1 class="display-4">Homepage Admin Satgas</h1>
<p class="lead font-italic">SIDIA Indonesia</p>
<hr class="my-4">

<p class="h5">Profil:</p>
<a href="{% url 'profile' %}" class="btn btn-outline-primary" role="button">Profil Saya</a>
<a href="{% url 'logout' %}" class="btn btn-outline-primary" role="button">Logout</a>

<br><br><br>

<p class="h5">Permohonan Sumber Daya</p>
<a href="#" class="btn btn-outline-primary" role="button">Buat Permohonan Sumber Daya</a>
<a href="#" class="btn btn-outline-primary" role="button">List Permohonan Sumber Daya</a>
<a href="#" class="btn btn-outline-primary" role="button">List Riwayat Status Permohonan Sumber Daya</a>


<br><br><br>

<p class="h5">Item Sumber Daya</p>
<a href="#" class="btn btn-outline-primary" role="button">List Item Sumber Daya</a>

<br><br><br>

<p class="h5">Pesanan Sumber Daya</p>
<a href="{% url 'psd6:createPSD' %}" class="btn btn-outline-primary" role="button">Buat Pesanan Sumber Daya</a>
<a href="{% url 'psd6:listPSD' %}" class="btn btn-outline-primary" role="button">List Pesanan Sumber Daya</a>

<br><br><br>

<p class="h5">Kendaraan</p>
<a href="#" class="btn btn-outline-primary" role="button">Buat Kendataan</a>
<a href="#" class="btn btn-outline-primary" role="button">List Kendaraan</a>

<br><br><br>

<p class="h5">Batch Pengiriman</p>
<a href="{% url 'batchPengiriman_5:createBatchPengiriman' %}" class="btn btn-outline-primary" role="button">Buat Batch Pengiriman</a>
<a href="#" class="btn btn-outline-primary" role="button">List Batch Pengiriman</a>
<a href="#" class="btn btn-outline-primary" role="button">Buat Riwayat Status Batch Pengiriman</a>
<a href="#" class="btn btn-outline-primary" role="button">List Riwayat Status Batch Pengiriman</a>

<br><br><br>

<p class="h5">Lokasi</p>
<a href="#" class="btn btn-outline-primary" role="button">Buat Lokasi</a>
<a href="#" class="btn btn-outline-primary" role="button">List Lokasi</a>

<br><br><br>

<p class="h5">Fasilitas Kesehatan</p>
<a href="{% url 'faskes_5:createFaskes' %}" class="btn btn-outline-primary" role="button">Buat Fasilitas Kesehatan</a>
<a href="{% url 'faskes_5:readFaskes' %}" class="btn btn-outline-primary" role="button">List Fasilitas Kesehatan</a>
<a href="{% url 'createStokFaskes' %}" class="btn btn-outline-primary" role="button">Buat Stok Fasilitas Kesehatan</a>
<a href="{% url 'listStokFaskes' %}" class="btn btn-outline-primary" role="button">List Stok Fasilitas Kesehatan</a>

<br><br><br>

<p class="h5">Warehouse Satgas</p>
<a href="{% url 'warehouseSatgas_5:createWarehouseSatgas' %}" class="btn btn-outline-primary" role="button">Buat Warehouse Satgas</a>
<a href="{% url 'warehouseSatgas_5:readWarehouseSatgas' %}" class="btn btn-outline-primary" role="button">List Warehouse Satgas</a>
<a href="#" class="btn btn-outline-primary" role="button">Buat Stok Warehouse Satgas</a>
<a href="#" class="btn btn-outline-primary" role="button">List Stok Warehouse Satgas</a>

</div>
{% endblock content %}
