{% extends "base_template.html" %}

{% block content %}

<h1 class="display-4">Welcome!</h1>
<p class="lead font-italic">SIDIA</p>
<hr class="my-4">

<a href="{% url 'login' %}" class="btn btn-outline-primary" role="button">Login</a>
<a href="{% url 'registerPilihan' %}" class="btn btn-outline-primary" role="button">Register</a>

{% endblock content %}
