{% extends "base_template.html" %}

{% block content %}

<div class="container col-lg-12">
    <h1 class="display-4">Profile</h1>
    <p class="lead font-italic">SIDIA Indonesia</p>
    <hr class="my-4">
    <div class=col-lg-12>
        <form method="POST">
            {% csrf_token %}
            <label>Nama: </label>
            <input  type="text" id="namaForm" name="namaForm" value="{{args.nama}}">
            <button type=submit class="btn btn-outline-primary" style="float: right;" id="simpanForm">Simpan</button>
        </form>
        <br><br>

        <p class="h5">No SIM: {{args.no_sim}}</p>
        <br><br>

        <p class="h5">Kelurahan: {{args.alamat_kel}}</p>

        <br><br>
        <p class="h5">Kecamatan: {{args.alamat_kec}}</p>

        <br><br>
        <p class="h5">Kabupaten/Kota: {{args.alamat_kabkot}}</p>

        <br><br>
        <p class="h5">Provinsi: {{args.alamat_prov}}</p>

        <br><br>

        <p class="h5">Telepon: {{args.no_telepon}}</p>

    </div>
</div>
<script>
    $("#simpanForm").click(function(e) {
        alert("Namamu berhasil diupdate!")
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock content %}
