
{% extends "base_template.html" %}
{% block content %}

<h1 class="display-4">Register as:</h1>
<p class="lead font-italic">SIDIA</p>
<hr class="my-4">

<a href="{% url 'regadminsatgas' %}" class="btn btn-outline-primary" role="button">Admin Satgas</a>
<a href="{% url 'regsupplier' %}" class="btn btn-outline-primary" role="button">Supplier</a>
<a href="{% url 'regpetugasdistribusi' %}" class="btn btn-outline-primary" role="button">Petugas Distribusi</a>
<a href="{% url 'regpetugasfaskes' %}" class="btn btn-outline-primary" role="button">Petugas Faskes</a>

{% endblock content %}
