{% extends 'base_template.html' %}
{% load static %}
{% block title %} Detail {% endblock %}

{% block content %}

<style>
    input, select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #f9f9f9;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
    {% for item in detailPSD %}
    <h1 class="display-4">Detail Pesanan Sumber Daya {{ item.nomor_pesanan }}</h1>
    <hr class="my-4">
    <div class=col-lg-6>
        <div class=col-lg-12>
        <label>Nomor Transaksi: </label>
            <input type="text" name="noTransaksiForm" value="TOR{{item.nomor_pesanan}}" disabled>

        <label>Petugas: </label>
            <input type="text"name="petugasForm" value="{{item.username_admin_satgas}}" disabled>
        
        <label>Tanggal: </label>
            <input type="text" name="noTransaksiForm" value="{{item.tanggal}}" disabled>

        <label>Supplier: </label>
            <input type="text" name="petugasForm" value="{{item.username_supplier}}" disabled>
        </div>
    </div>
    {% endfor %}
    <div class=col-lg-6>
        <br>
        <table class="table table-striped table table-hover">
            <thead>
                <tr>
                    <th scope="col">No Urut</th>
                    <th scope="col">Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Jumlah Item</th>
                </tr>
            </thead>
            <tbody>
                {% for item in detailDaftarItem %}
                <tr>
                    <td>{{item.no_urut}}</td>
                    <td>{{item.nama}}</td>
                    <td>{{item.harga_satuan}}</td>
                    <td>{{item.jumlah_item}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <label>Total Harga: </label>
            <input type="text"name="totalHarga" value="{{totalHarga}}" disabled>
    </div>
    <br><br>
    <a href="{% url 'psd6:listPSD' %}" role="button" class="btn btn-outline-primary" style="float: left;">Kembali</a>

</div>


{% endblock content %}
