{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
  <h1 class="display-4">List Pesanan Sumber Daya</h1>
  <hr class="my-4">
  <div class=col-lg-12>
      <table class="table table-striped table table-hover" style="text-align: center;"> 
          <thead>
              <tr style="text-align: center;">
                <th scope="col">No. Transaksi</th>
                <th scope="col">Petugas Satgas</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Total Berat</th>
                <th scope="col">Total Item</th>
                <th scope="col">Total Harga</th>
                <th scope="col">Status</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
          </thead>
          <tbody id=tableDaftarItem>
            {% for item in listPSD %}
            <tr>
              <td>TOR{{ item.nomor_pesanan}}</td>
              <td>{{ item.username_admin_satgas}}</td>
              <td>{{ item.tanggal}}</td>
              <td>{{ item.total_berat}}</td>
              <td>{{ item.total_item}}</td>
              <td>{{ item.total_harga}}</td>
              <td>{{ item.kode_status_pesanan}}</td>
              <td>
                <a href="{% url 'psd6:detailPSD' item.nomor_pesanan %}" class="btn btn-outline-primary" role="button">Detail</a>
                <a href="{% url 'riwayatStatusPSD7:listRiwayatPSD' item.nomor_pesanan %}" class="btn btn-outline-primary" role="button">Riwayat Status</a>
                {% if item.kode_status_pesanan == "REQ-SUP" %}
                <a href="{% url 'psd6:updatePSD' item.nomor_pesanan %}" class="btn btn-outline-primary" role="button">Update</a>
                <a href="{% url 'psd6:deletePSD' item.nomor_pesanan %}" class="deleteButton btn btn-outline-primary" role="button">Delete</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
      
          </tbody>
      </table>
  </div>
  </div>

</div>
<script>
  $(document).ready(function (){
    $("body").on("click", ".deleteButton", function() {
      alert("Data berhasil dihapus");
    });
  });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
{% endblock content %}