{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #f9f9f9;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
    <h1 class="display-4">Update Pesanan Sumber Daya</h1>
    <hr class="my-4">
    <div class=col-lg-6>
        {% csrf_token %}
            <label>Nomor Transaksi: </label>
                <input type="text" id="noTransaksiForm" name="noTransaksiForm" value="TOR{{noTransaksi}}" disabled>
                <input type="hidden" id="noTransaksiFormHidden" style="display: hidden;" value="{{noTransaksi}}">
            
            <label>Petugas: </label>
                <input type="text" id="petugasForm" name="petugasForm" value={{petugasCurrent}} disabled>
    
            <label>Supplier: </label>
                <input type="text" id="supplierForm" name="supplierForm" value={{supplier}} disabled>
                <br><br>

            <div class=col-lg-12>

                <h3>Daftar Pesanan Item:</h3>
                <label>No. Urut: </label>
                    <input type="text" id="noUrutForm" name="noUrutForm" value="{{noUrutMulaiDariSini}}" disabled>
        
                <label>Kode Item: </label>
                    <select id="kodeItemForm" name="kodeItemForm" required>
                        <option disabled selected value> -- select an option -- </option>
                        {% for item in kodeItemList%}
                        <option> {{ item.kode }}</option>
                        {% endfor %}
                    </select>
                    
                <label>Jumlah Item: </label>
                    <input type="number" id="jumlahItemForm" name="jumlahItemForm" required>
            </div>
            <br>
            <button class="btn btn-outline-primary" style="float: right;" id="tambahForm">Tambah</button>
            <br><br>
            <div class=col-lg-12>
                <table class="table table-striped table table-hover" id="tableDaftarItem">
                    <thead>
                        <tr>
                            <th scope="col">No Urut</th>
                            <th scope="col">Item</th>
                            <th scope="col">Harga Satuan</th>
                            <th scope="col">Jumlah Item</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id=tableDaftarItem>
                        {% for item in daftarItemList%}
                        <tr id="row{{ item.no_urut }}">
                            <td id="noUrut{{ item.no_urut }}">{{ item.no_urut }} </td>
                            <td id="kode{{ item.no_urut }}" type="hidden" style="display: none;">{{ item.kode }} </td>
                            <td id="nama{{ item.no_urut }}">{{ item.nama }} </td>
                            <td id="hargaSatuan{{ item.no_urut }}">{{ item.harga_satuan }} </td>
                            <td id="jumlahItem{{ item.no_urut }}">{{ item.jumlah_item }} </td>
                            <td><a class="deleteButton btn btn-outline-primary" style="float: right;" 
                                id="{{ item.no_urut }}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
        <button class="btn btn-outline-primary" style="float: left;" id="simpanForm">Simpan</button>
    </div>

</div>

<script>
$(document).ready(function (){
    var countAwal = $('#tableDaftarItem tr').length;
    var count = $('#tableDaftarItem tr').length;
    var daftarItem = [];
    var yangDiDelete = [];
    var ganjil = [-1, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
    
    $("#simpanForm").click(function(e) {
        var noTransaksiForm = $("#noTransaksiFormHidden").val();
        var petugasForm = $("#petugasForm").val();
        var supplierForm = $("#supplierForm").val();
        var noUrutForm = $("#noUrutForm").val();
        var kodeItemForm = $("#kodeItemForm").val();
        var jumlahItemForm = $("#jumlahItemForm").val();

        $.ajax({
			method: 'POST',
			url: '',
		    data: {
                noTransaksiForm: noTransaksiForm, 
                petugasForm: petugasForm,
                supplierForm: supplierForm, 
                daftarItem: daftarItem,
                yangDiDelete: yangDiDelete,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
		    },
			success: function(response) {
                window.location.href = "/PSD/list";
            }
		})
    });

    $("#tambahForm").click(function(e) {
        if ($('#kodeItemForm').val() == null) {
            e.preventDefault()
            alert("Please select one 'Kode Item'")
            return ;
        }
        if ($('#jumlahItemForm').val() <= 0) {
            e.preventDefault()
            alert("Jumlah Item tidak boleh kurang dari 0")
            return ;
        } 
        var noUrut = $("#noUrutForm").val();
        var kodeItem = $("#kodeItemForm").val();
        var jumlahItem = $("#jumlahItemForm").val();

        $.ajax({
			method: 'GET',
			url: '/PSD/tambahDaftarItem?' + 'kodeItem=' + kodeItem,
			success: function(response) {
                var hargaSatuan = response.hargaSatuan
                var namaItem = response.namaItem
                count++;
                daftarItem.push(noUrut, jumlahItem, kodeItem)

                $("#noUrutForm").val(count)
                $("#tableDaftarItem").append('<tr id="row' + noUrut + '"><td>'
                    + noUrut + '</td><td>'+ namaItem + '</td><td>'
                        + hargaSatuan + '</td><td>'+ jumlahItem + 
                            '</td><td><button class="deleteButton btn btn-outline-primary" style="float: right;" id="'
                                + noUrut + '">Delete</button></td></tr>')
            }
		})
    });

    $("body").on("click", ".deleteButton", function() {
        console.log(daftarItem)
        var noUrutRemoved = $(this).attr('id')
        var removeRow = "#row" + noUrutRemoved
        var hilanginArray = noUrutRemoved - 1
        if (noUrutRemoved > countAwal) {
            var indexRemoved = noUrutRemoved + ganjil[hilanginArray]
            daftarItem.splice(indexRemoved, 3)
        } else {
            var removeRow = "#row" + noUrutRemoved
            let kode = "#kode" + noUrutRemoved
            let noUrut = "#noUrut" + noUrutRemoved
            yangDiDelete.push($(kode).text().trim())
            yangDiDelete.push($(noUrut).text().trim())
        }
        $(removeRow).remove();

        
        //if (count > 0) $("#noUrutForm").val(count);
    });
});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}