{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
  <h1 class="display-4">Riwayat Status Pesanan Sumber Daya</h1>
  <hr class="my-4">
  <div class=col-lg-12>
      <table class="table table-striped table table-hover" style="text-align: center;"> 
          <thead>
              <tr style="text-align: center;">
                <th  style="display:none" scope="col">No</th>
                <th scope="col">Kode Status</th>
                <th scope="col">Status</th>
                <th scope="col">Username Supplier</th>
                <th scope="col">Tanggal Persetujuan</th>
              </tr>
          </thead>
          <tbody id=tableDaftarItem>
            {% for item in listRiwayatPSD %}
            <tr>
                <td style="display:none"> </td>
                <td>{{ item.kode_status_pesanan}}</td>
                <td>{{ item.nama }}</td>
                <td>{{ item.username_supplier}}</td>
                <td>{{ item.tanggal}}</td>
            </tr>
            {% endfor %}
      
          </tbody>
      </table>
  </div>
  <a href="{% url 'psd6:listPSD' %}" role="button" class="btn btn-outline-primary" style="float: left;">Kembali</a>
  </div>

</div>
<script>
  $(document).ready(function (){
    
  });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
{% endblock content %}