{% extends "base_template.html" %}

{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>
<div class="container">  
    <h1 class="display-4">Form Ubah Fasilitas Kesehatan</h1>
    <small class="text-muted">{{ message }}</small> <br><br> 
<hr class="my-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Simpan</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'faskes_5:ajaxLokasiFaskes' %}",
            data: {
                id_lokasi: $('#id_lokasi').val()
            },
            async: false,
            success: function (response) {
                let res=''
                response.id.map((e) => {
                    res += e + ' , ';
                })
                $('#lokasi').val(res)
                $('#lokasi').prop('readonly',true)
            }
        });
        $('#id_lokasi').on('change', function () {
            $('#lokasi').val('')
            $.ajax({
                type: 'GET',
                url: "{% url 'faskes_5:ajaxLokasiFaskes' %}",
                data: {
                    id_lokasi: $('#id_lokasi').val()
                },
                async: false,
                success: function (response) {
                    let res=''
                    response.id.map((e) => {
                    res += e + ' , ';
                    })
                    $('#lokasi').val(res)
                    $('#lokasi').prop('readonly',true)
                }
            });
        });

        $.ajax({
            type: 'GET',
            url: "{% url 'faskes_5:ajaxTipeFaskes' %}",
            data: {
                kode_tipe_faskes: $('#kode_tipe_faskes').val()
            },
            async: false,
            success: function (response) {
                let res=''
                response.id.map((e) => {
                    res += e + '  ';
                })
                $('#tipe_faskes').val(res)
                $('#tipe_faskes').prop('readonly',true)
            }
        });
        $('#kode_tipe_faskes').on('change', function () {
            $('#tipe_faskes').val('')
            $.ajax({
                type: 'GET',
                url: "{% url 'faskes_5:ajaxTipeFaskes' %}",
                data: {
                    kode_tipe_faskes: $('#kode_tipe_faskes').val()
                },
                async: false,
                success: function (response) {
                    let res=''
                    response.id.map((e) => {
                    res += e + '  ';
                    })
                    $('#tipe_faskes').val(res)
                    $('#tipe_faskes').prop('readonly',true)
                }
            });
        });

    })
</script>
{% endblock content %}
