{% extends "base_template.html" %}

{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>
<div class="container"> 
{% if request.session.role == 'admin_satgas' %} 
    <h1 class="display-4">Form Tambah Batch Pengiriman</h1>
    <small class="text-muted">{{ message }}</small> <br><br> 
<hr class="my-4">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Tambah</button>
    </form>
{% else %}
        <h3>Harus Login dahulu sebagai Admin Satgas</h3>
        <a href="{% url 'login' %}">
            <button>
                Login
            </button>
        </a>
{% endif %} 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No. Transaksi</th>
            <th scope="col">Petugas Faskes</th>
            <th scope="col">Faskes</th>
            <th scope="col">Total Berat(kg)</th>
            <th scope="col">Status Permohonan</th>
            <th scope="col">Status Batch</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in form %}
        <tr class="row-{{ forloop.counter }}">
            <td>
                {{ i.no_transaksi }}
            </td>
            <td>
                {{ i.petugas }}
            </td>
            <td>
                {{ i.faskes }}
            </td>
            <td>
                {{ i.berat }}
            </td>
            <td>
                {{ i.status_permohonan }}
            </td>
            <td>
                {{ i.status_batch }}
            </td>
            <td>
                <button class="btn btn-primary">Buat Batch</button>
                <button class="btn btn-success">Detail</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</script>
{% endblock content %}