{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #f9f9f9;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
    <h1 class="display-4">Tambah Stok Faskes</h1>
    <hr class="my-4">
    <div class=col-lg-6>
        <form method="POST">
            {% csrf_token %}
            <label>Kode Faskes: </label>
                <select id="kodeFaskesForm" name="kodeFaskesForm" required>
                    <option disabled selected value> -- select an option -- </option>
                    {% for item in kodeFaskes %}
                        <option value={{item.kode_faskes_nasional}}>{{item.kode_faskes_nasional}}</option>
                    {% endfor %}

                </select>
            <label>Faskes: </label>
                <input type="text" id="faskesForm" name="faskesForm" disabled>
            
            <label>Kode Item: </label>
            <select id="kodeItemForm" name="kodeItemForm" required>
                <option disabled selected value> -- select an option -- </option>
                {% for item in kodeItem %}
                <option value={{item.kode}}>{{item.kode}}</option>
                {% endfor %}

            </select>
            
            <label>Item Sumber Daya: </label>
                <input type="text" id="itemSDForm" name="itemSDForm" disabled>
                
            <label>Jumlah: </label>
                <input type="number" id="jumlahForm" name="jumlahForm" required>
        
        <button class="btn btn-outline-primary" style="float: left;" id="simpanForm">Simpan</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function (){

        $("#simpanForm").click(function(e) {
            if ($('#kodeFaskesForm').val() == null) {
                e.preventDefault()
                alert("Please select one 'Kode Faskes'")
                return ;
            } 
            if ($('#kodeItemForm').val() == null) {
                e.preventDefault()
                alert("Please select one 'Kode Item'")
                return ;
            }
            if ($('#jumlahForm').val() <= 0) {
                e.preventDefault()
                alert("Jumlah Item tidak boleh kurang dari 0")
                return ;
            } 
        });
    $('#kodeFaskesForm').on('change', function (event) {

        event.preventDefault();

        var selected = this.value;
        
        $.ajax({
			method: 'GET',
			url: 'getDataFaskes?' + 'kodeFaskes=' + selected,
			success: function(response) {
                console.log(response)
                var faskes = response.faskes
                $("#faskesForm").val(faskes[0][1]);
			}
		})
    });

    $('#kodeItemForm').on('change', function (event) {

        event.preventDefault();

        var selected = this.value;
        
        $.ajax({
			method: 'GET',
			url: 'getDataItemSD?' + 'kodeItem=' + selected,
			success: function(response) {
                console.log(response)
                var isd = response.itemSumberDaya
                console.log(isd)
                $("#itemSDForm").val(isd[0][0]);
			}
		})
    });

});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}