{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
  <h1 class="display-4">List Stok Faskes</h1>
  <hr class="my-4">
  <div class=col-lg-12>
      <table class="table table-striped table table-hover" style="text-align: center;"> 
          <thead>
              <tr style="text-align: center;">
                <th scope="col">Kode Faskes</th>
                <th scope="col">Nama Faskes</th>
                <th scope="col">Item Sumber Daya</th>
                <th scope="col">Jumlah</th>
                <th scope="col" style="text-align: center;">Action</th>
              </tr>
          </thead>
          <tbody id=tableDaftarItem>
            {% for item in listFaskes %}
            <tr>
              <td>{{ item.kode_faskes}}</td>
              <td>{{ item.namalengkap }}</td>
              <td>{{ item.namaitem}}</td>
              <td>{{ item.jumlah}}</td>
              <td>
                <a href="{% url 'updateStokFaskes' item.kode_faskes item.kode %}" class="btn btn-outline-primary" role="button">Update</a>
                <a href="{% url 'deleteStokFaskes' item.kode_faskes item.kode %}" class="deleteButton btn btn-outline-primary" role="button">Delete</a>
            </tr>
            {% endfor %}
      
          </tbody>
      </table>
  </div>
  </div>

</div>
<script>
    $("body").on("click", ".deleteButton", function() {
        alert("Data berhasil dihapus")
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock content %}