{% extends "base_template.html" %}
{% block content %}

<style>
    input, select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #f9f9f9;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }
</style>

<div class="container col-lg-12">  
    <h1 class="display-4">Update Stok Faskes</h1>
    <hr class="my-4">
    <div class=col-lg-6>
        <form method="POST">
            {% csrf_token %}
            {% for updateFaskes in updateFaskes %}
            <label>Kode Faskes: </label>
                <input id="kodeFaskesForm" name="kodeFaskesForm" value={{updateFaskes.kode_faskes}} disabled>
                
            <label>Faskes: </label>
                <input type="text" id="faskesForm" name="faskesForm" value={{updateFaskes.namalengkap}} disabled>

            <label>Kode Item: </label>
                <input id="kodeItemForm" name="kodeItemForm" value={{updateFaskes.kode}}  disabled>
            
            <label>Item Sumber Daya: </label>
                <input type="text" id="itemSDForm" name="itemSDForm" value={{updateFaskes.namaitem}} disabled>
                
            <label>Jumlah: </label>
                <input type="number" id="jumlahForm" name="jumlahForm" value={{updateFaskes.jumlah}} required>

            {% endfor %}
        
        <button class="btn btn-outline-primary" style="float: left;" id="simpanForm">Simpan</button>
        </form>
    </div>
</div>

<script>
    $("#simpanForm").click(function(e) {
        if ($('#jumlahForm').val() <= 0) {
            e.preventDefault()
            alert("Jumlah Item tidak boleh kurang dari 0")
            return ;
        } 
      });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}